<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012561643795-lp4sr5esibisrhsorlnf4escpngd7s75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012561643795-lp4sr5esibisrhsorlnf4escpngd7s75</string>
	<key>API_KEY</key>
	<string>AIzaSyDTkGUnh8jrNHg6ErX68rIF4VnLzJ3yz4I</string>
	<key>GCM_SENDER_ID</key>
	<string>1012561643795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-para-flutter-bd544</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-para-flutter-bd544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012561643795:ios:493c5f36a88801b81132e6</string>
</dict>
</plist>